html { 
    display: grid; /*necesario para el scroll*/
    height: 100%; /*necesario para el scroll*/
}

body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    font-family: Arial, Helvetica, sans-serif;
    overflow: auto; /*necesario para el scroll*/
}

h1 {
    font-size: 28px;
    margin: 10px 0px;
}

h2 {
    font-size: 24px;
    margin: 10px 0px;
}

h3 {
    font-size: 20px;
    margin: 10px 0px;
}

p {
    font-size: 16px;
    margin: 10px 0px;
}

header {
    grid-column: 1/-1;
    padding: 10px;

    background-image: url("../img/conjunto-garabatos-dibujados-mano-simbolos-negocios-banner-web-finanzas-vectoriales_206606-216.jpg");
    background-repeat: repeat;

    display: flex;
    justify-content: center;
}

header img {
    filter: invert();
    width: 100%;
    max-width: 750px;
    transition-duration: 0.5s;
}

header img:hover {
    filter: invert() drop-shadow(0px 0px 20px white);
}

nav {
    background-color: #2c5c9c;
    display: flex;
    flex-direction: column;
    width: 200px;
    text-align: center;
    gap: 10px;
    padding: 10px;
    min-height: 558px; /*necesario para el scroll*/
}

nav button {
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    border: none;
    align-items: center; /*centra iconos verticalmente*/
    transition-duration: 0.25s;
}

nav button:hover {
    background-color: #f6bb7f;
}

nav button i {
    font-size: 20px;
    margin-right: auto;
}

.scroll {
    overflow: hidden;
    scrollbar-width: none;
}

.scroll .infinito {
    gap: 25px;
    display: flex;
    flex-direction: column;
    align-self: center; /* Centra horizontalmente las imágenes */
    animation: scroll 25s linear infinite;
    height: 1125px;
}

.scroll .infinito .slide {
    height: 200px;
    width: 200px;
}

.scroll .infinito .slide img {
    border-radius: 50%;
    width: 100%;
}

@keyframes scroll {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-1125px); /* 200px (altura de la imagen) + 25px (gap) * 10 imágenes */
    }
}


main {
    background-color: #4c73b0;
    padding: 10px;
}

.dondeEstoy {
    text-align: end;
}

.titulo {
    text-align: center;
}

.dondeDatos {
    text-align: end;
}

.dondeDatos a, .dondeEstoy, a {
    color: black;
}

footer {
    grid-column: 1/-1;
    background-color: #2c1404;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: white;
}

footer div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer div ul {
    list-style: none;
    padding: 0;
}

footer div ul li {
    margin: 10px;
}

footer div ul li a {
    color: white;
}

@media (width < 850px) {
    body {
        grid-template-columns: 1fr;
    }

    nav {
        width: auto;
        min-height: auto;
        flex-direction: row;
    }

    nav button {
        flex-grow: 1;
        justify-content: center;
    }

    nav button i {
        margin: 0;
    }

    nav button h3, nav p, .scroll {
        display: none;
    }
}