html { 
    display: grid; /*necesario para el scroll*/
    height: 100%; /*necesario para el scroll*/
}

body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    background-color: black;
    gap: 10px;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: auto; /*necesario para el scroll*/
}

h1 {
    font-size: 28px;
    margin: 10px 0px;
}

h2 {
    font-size: 24px;
    margin: 10px 0px;
}

h3 {
    font-size: 20px;
    margin: 10px 0px;
}

p {
    font-size: 16px;
    margin: 10px 0px;
}

header {
    grid-column: 1/-1;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 10px;
    background-image: url("../img/conjunto-garabatos-dibujados-mano-simbolos-negocios-banner-web-finanzas-vectoriales_206606-216.jpg");
    background-repeat: repeat;
    display: flex;
    justify-content: center;
}

header img {
    filter: invert();
    width: 100%;
    max-width: 750px;
    transition-duration: 0.5s;
}

header img:hover {
    filter: invert() drop-shadow(0px 0px 20px white);
}

nav {
    background-color: green;
    display: flex;
    flex-direction: column;
    width: 200px;
    text-align: center;
    gap: 10px;
    padding: 10px;
    border-radius: 20px;
    min-height: 558px; /*necesario para el scroll*/
}

nav button {
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    border: none;
    align-items: center; /*centra iconos verticalmente*/
    transition-duration: 0.25s;
}

nav button:hover {
    background-color: red;
    color: white;
}

nav button i {
    font-size: 20px;
    margin-right: auto;
}

.scroll {
    display: flex;
    flex-direction: column;
    align-self: center; /*centra horizontalmente las imagenes*/
    gap: 10px;
    overflow-y: auto; /*necesario para el scroll*/
    scrollbar-width: none;
    scroll-snap-type: y mandatory;
}

.scroll img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    scroll-snap-align: start;
}

main {
    background-color: gold;
    border-radius: 20px;
    padding: 10px;
}

.dondeEstoy {
    text-align: end;
}

.titulo {
    text-align: center;
}

.dondeDatos {
    text-align: end;
}

footer {
    grid-column: 1/-1;
    background-color: blueviolet;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

footer div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer div ul {
    list-style: none;
    padding: 0;
}

footer div ul li {
    margin: 10px;
}

footer div ul li a {
    color: black;
}

@media (width < 755px) {
    body {
        grid-template-columns: 1fr;
    }

    nav {
        width: auto;
        min-height: auto;
        flex-direction: row;
    }

    nav button {
        flex-grow: 1;
        justify-content: center;
    }

    nav button i {
        margin: 0;
    }

    nav button h3, nav p, .scroll {
        display: none;
    }
}