main h3 {
    padding-left: 20px;
}

main button {
    align-items: center;
    font-weight:bold;
    background-color: #005bc5;
    border: none;
    cursor: pointer;
    transition-duration: 0.5s;
}

main button:hover {
    background-color: rgb(254, 188, 127);
}

.seleccion_de_moneda {
    text-align: center;
}

label, select {
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
}

.grilla{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 20px;
    gap: 25px;
}

@media (width < 1640px) {
    .grilla{
        grid-template-columns: 1fr 1fr;
    }
}

@media (width < 1180px) {
    .grilla{
        grid-template-columns: 1fr;
    }
}

.grilla img{
    width: 25px;
    height: 25px;
}

.valores {
    display: flex;
    flex-direction: row;
    border: solid 5px;
    transition-duration: 0.5s;
}

.valores div{
    display: flex;
    flex-direction: row;
}

.moneda {
    flex-grow: 1; 
    text-align: start;
}