.grilla p {
    font-size: 20px;
}

.seleccion_de_moneda, .seleccion_de_moneda select{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.grilla {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 10px;
}

.grilla button {
    border: none;
    cursor: pointer;
    min-width: 66px;
    min-height: 66px;
    background-color: orange;
    transition-duration: 0.5s;
    border-radius: 50%;
}

.grilla button i {
    font-size: 24px;
    color: black;
}

.grilla button:hover i {
    font-size: 32px;
}

.grilla .favorito {
    background-color: rebeccapurple;
}

.grilla .favorito i {
    color: white;
}

.valores {
    display: flex;
    flex-direction: row;
    gap: 25px;
    padding: 10px;
    background-color: orange;
    border-radius: 10px;
    align-items: center;
}

.valores.show {
    display: flex;
}

.valores.hide {
    display: none;
}

.moneda {
    margin-right: auto;
}

@media (width < 1745px) {
    .grilla{
        grid-template-columns: 1fr 1fr;
    }
}

@media (width < 1250px) {
    .grilla{
        grid-template-columns: 1fr;
    }
}

