.container {
    display: grid;
    grid-template-rows: auto;
    text-align: center;
    font-size: 20px;
    overflow-y: auto;
    max-height: 480px;
    scrollbar-width: none;
    min-width: min-content;
    background-color: whitesmoke;
    border-radius: 10px;
    scroll-snap-type: y mandatory;
}

.cabecera {
    display: grid;
    background-color: violet;
    grid-template-columns: repeat(6, 1fr);
    position: sticky;
    top: 0;
}

.datos {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    scroll-margin-top: 58px;
    scroll-snap-align: start;
}

.cabecera ul, .datos ul{
    display: contents;
}

.fecha {
    grid-row: span 500;
}

main ul {
    list-style: none;
    margin: 0;
}

main ul li {
    padding: 5px;
}

.container div:nth-child(2n) {
    background-color: lightgrey;
}

.container ul li i {
    transition-duration: 0.5s;
}

.container ul li i:hover{
    filter: invert()
}